* {
  margin: 0;
  padding: 0;
}

.line {
  border-bottom: 3px solid #000;
  width: 20%;
  margin: 0 auto;
  position: relative;
  top: -24px;
}

.remove-btn {
  display: flex;
  justify-content: end;
}

.heading {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;
}

#top-books {
  width: 80%;
  margin: 0 auto;
  /* margin-top: 40px; */
  border: solid #333 3px;
  /* padding-top: 4px; */
  padding-bottom: 12px;
}

#top-books h2 {
  text-align: center;
  margin-bottom: 12px;
}

#awesome-books {
  width: 50%;
  margin: 0 auto;
}

.new-books {
  margin-bottom: 32px;
}

.new-books div {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.new-books div:nth-child(odd) {
  background-color: #d3d3d3;
}

#footer {
  border: 3px solid #333;
  width: 76.5%;
  margin: 12px auto;
  padding: 12px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border: 3px solid #333;
  width: 76.5%;
  padding: 12px;
  margin: 12px auto 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  border-right: 2px solid #333;
  margin-right: 4px;
  padding-right: 4px;
}

.nav-list a {
  text-decoration: none;
}

.hidden {
  display: none;
}